<!-- src/app/navbar/navbar.component.html -->
<nav class="p-8 w-2/3 flex  ">
  <div class="flex space-x-4">
    <a href="#" class="px-2  border-2 rounded-full hover:bg-gray-100 transition border-[#BACD92]">
      Home
    </a>
    <a href="#" class="px-2  border-2 rounded-full hover:bg-gray-100 transition border-[#CA8787]">
      About
    </a>
    <a href="#" class="px-2  border-2 rounded-full hover:bg-gray-100 transition border-[#DBA979]">
      Projects
    </a>
    <a href="#" class="px-2  border-2 rounded-full hover:bg-gray-100 transition border-[#B3C8CF]">
      Skills
    </a>
    <a href="#" class="px-2  border-2 rounded-full hover:bg-gray-100 transition border-[#987070]">
      Contact
    </a>
  </div>
</nav>



